body {
  width: 100vw;
  height: 100vh;
}

img {
  width: 7.8em;
  height: 7.8em;
  margin: 5px 2.5px 0 2.5px;
}

.page-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-div {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 32em;
  width: 24.6em;
}

