body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #de93ec;
}

img {
  width: 7.8em;
  height: 7.8em;
  margin: 5px 2.5px 0 2.5px;
  border-radius: 5px;
  /* transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: transform .3s ease; */
  position: relative;
  transition: all ease-in-out 1s;
  cursor: pointer;
}



.page-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  height: 33em;
  width: 24.9em;
  background-color: #cfe0fc;
  border-radius: 5px;
  box-shadow: 11px 13px #323e4e;
}