@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&family=Rubik+Wet+Paint&family=Sigmar+One&display=swap');

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: #de93ec;
}

.game-title {
  margin: 80px 0 0 0;
  /* font-family: 'Rammetto One', cursive; */
  font-family: 'Sigmar One', cursive;
  font-size: 1.5em;
  color: #323e4e;
  /* font-family: 'Rubik Wet Paint', cursive; */
}

img {
  width: 7.8em;
  height: 7.8em;
  margin: 5px 2.5px 0 2.5px;
  border-radius: 5px;
  transition: transform .5s;
}


img:active {
  transform:rotateY(180deg);
}



.page-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.score-and-board {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  
}

.score-div {
  font-family: 'Sigmar One', cursive;
  color: #323e4e;
}

.grid-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  height: 33em;
  width: 24.9em;
  background-color: #cfe0fc;
  border-radius: 5px;
  box-shadow: 11px 13px #323e4e;
}

/* .grid-div:hover {
  background-color: #ecec93;
} */